name: tests

on: [ 'push', 'pull_request' ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [ 8.1, 8.2, 8.3 ]
        dependency-version: [ prefer-lowest, prefer-stable ]

    name: Tests on PHP ${{ matrix.php }} - ${{ matrix.os }} - ${{ matrix.dependency-version }}

    services:
      chroma:
        image: chromadb/chroma
        ports:
          - 8000:8000

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.composer/cache/files
          key: dependencies-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, mbstring, zip
          coverage: none

      - name: Install Composer dependencies
        run: composer update --${{ matrix.dependency-version }} --no-interaction --prefer-dist

      - name: Run tests
        run: composer test